RedirectPermanent /latex https://www.overleaf.com/read/jvnbvcvtjbpf/
RedirectPermanent /apply https://docs.google.com/forms/d/e/1FAIpQLSdQ9LCqLbWyRQrcJSPWfk5L798CG95RP-CwV6h7UWiKAWE07A/viewform?usp=sf_link
