RedirectPermanent /latex https://www.overleaf.com/read/zvptggbmbngp
Redirect 302 /apply https://airtable.com/appuQcBFsCnMdwcv5/shrbUMrnIZ76PMspR
Redirect 302 /alumapp https://airtable.com/appuQcBFsCnMdwcv5/shrDjI98ilyL6q9Un
Redirect 302 /winter-apply https://docs.google.com/forms/d/e/1FAIpQLSdQ9LCqLbWyRQrcJSPWfk5L798CG95RP-CwV6h7UWiKAWE07A/viewform?usp=sf_link
Redirect 302 /calendar https://airtable.com/shrdIUNXYsmQs41Xo
